.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.input-button {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input {
    width: 400px;
    height: 35px;
    font-family: "Crimson Text", serif;
}

.button {
    width: 50px;
    height: 43px;
    font-size: xx-large;
    background-color: rgb(8, 217, 8);
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item {
    display: grid;
    grid-template-columns: 400px 40px;
    font-size: x-large;
}

.clear-all {
    width: 100px;
    height: 30px;
    font-family: "Crimson Text", serif;
    font-size: larger;
    color: white;
    background-color: #0d6efd;
}

.delete {
    background-color: red;
    color: white;
}


